<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Book <%= @skill.user.first_name %>'s "<%= @skill.title %>" skill !</h2>
      <%= simple_form_for @booking, url: skill_bookings_path(@skill) do |f| %>
        <%= f.error_notification %>
        <%= f.input :starts_at, label: "Date and time", placeholder: "Select date and time", as: :string, input_html: { class: "datetimepicker" } %>
        <%= f.input :duration, label: "Duration in minutes", placeholder: "60" %>
        <%= f.button :submit, "Book", class: "btn btn-danger btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
<div class="bandeau-blanc">

</div>


