<div class="container text-center">
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<% avatar_url = "http://placehold.it/30x30" %>
<%= image_tag avatar_url, class: "avatar-large", id: "navbar-ddiy", "data-toggle" => "dropdown" %>

<h2>My Skills</h2>

  <div class="row">
    <% @user.skills.each do |skill| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-category"><%= skill.category %></div>
          <div class="card-description">
            <%= link_to skill_path(skill) do %>
            <h2><%= skill.title %></h2>
<!--             <p><%= skill.description %></p>
 -->        <% end %>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
      <!-- insert <div class="card"> -->
</div>

<% if current_user == @user %>
<%= link_to "Add a Skill", new_user_skill_path(@user), class: "btn btn-danger" %>
<% end %>

</div>
