<div class="container text-center">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <% if !@user.photo.blank? %>
    <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "avatar-large"   %>
  <% else %>
    <%= image_tag "default-profile.png", class: "avatar-large"%>
  <% end %>

  <% if current_user == @user %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <div class="flexbox-buttons light-padded">
            <%= link_to "Add a Skill", new_user_skill_path(@user), class: "btn btn-danger" %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- TABS INDEX -->
  <div class="tabs">
    <a class="tab active" data-target="#my_skills">
      <h2>My skills</h2>
    </a>
    <a class="tab" data-target="#my_bookings">
      <h2>My bookings</h2>
    </a>
    <a class="tab" data-target="#my_booked_skills">
      <h2>My booked skills</h2>
    </a>
  </div>

  <!-- TABS CONTENT -->
  <div class="container-fluid text-center">

    <!-- MY SKILLS -->
    <div class="tab-content" id="my_skills">
      <div class="row">
        <% @user.skills.each do |skill| %>
          <%= link_to skill_path(skill) do %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" >
                <% if !skill.photo.blank? %>
                  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                  url('<%= cl_image_path skill.photo %>');">
                    <div class="card-category"><%= skill.category %></div>
                    <div class="card-description">
                        <h2><%= skill.title %></h2>
                    </div>
                    <div>
                      <% if !@user.photo.blank? %>
                        <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "card-user avatar"%>
                      <% else %>
                        <%= image_tag "default_user_white.png", class: "card-user avatar"%>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <% skill_hash = CATEGORIES_PHOTOS.select { |hash| hash[:category] == skill.category } %>
                  <% image_id = skill_hash[0][:photo_filepath] %>
                  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                  url('<%= image_url(image_id) %>');">
                    <div class="card-category"><%= skill.category %></div>
                    <div class="card-description">
                      <h2><%= skill.title %></h2>
                    </div>
                    <div>
                      <% if !@user.photo.blank? %>
                        <%= cl_image_tag @user.photo, width: 200, height: 200, crop: :fill, class: "card-user avatar" %>
                      <% else %>
                        <%= image_tag "default_user_white.png", class: "card-user avatar"%>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- MY BOOKINGS -->
    <div class="tab-content hidden" id="my_bookings">
      <div class="row">
        <% @user.bookings.each do |booking| %>
          <div class="container-list">
            <!-- Card -->
            <div class="card-list">
              <%= link_to user_path(booking.skill.user) do %>
                <div class="card" >
                    <% if !booking.skill.photo.blank? %>
                      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                      url('<%= cl_image_path booking.skill.photo %>');">
                        <div class="card-category"><%= booking.skill.category %></div>
                        <div class="card-description">
                            <h2><%= booking.skill.title %> with <%= booking.skill.user.first_name %></h2>
                            <h3><%= booking.starts_at %></h3>
                            <p><%= booking.duration %> minutes</p>
                        </div>
                      </div>
                    <% else %>
                      <% skill_hash = CATEGORIES_PHOTOS.select { |hash| hash[:category] == booking.skill.category } %>
                      <% image_id = skill_hash[0][:photo_filepath] %>
                      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                      url('<%= image_url(image_id) %>');">
                        <div class="card-category"><%= booking.skill.category %></div>
                        <div class="card-description">
                            <h2><%= booking.skill.title %> with <%= booking.skill.user.first_name %></h2>
                            <p><%= booking.starts_at %></p>
                            <p><%= booking.duration %> minutes </p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </div>
            <!-- profile -->
            <div class="organizer-list">
              <%= link_to user_path(booking.skill.user) do %>
                <h3><%= booking.skill.user.first_name %> <%= booking.skill.user.last_name %></h3>
                <% if !booking.skill.user.photo.blank? %>
                  <%= cl_image_tag booking.skill.user.photo, width: 200, height: 200, crop: :fill, class: "avatar-large"   %>
                <% else %>
                  <%= image_tag "default-profile.png", class: "avatar-large"%>
                <% end %>
              <% end %>
            </div>
            <!-- Status -->
            <div class="status-list">
              <h4><strong> status </strong></h4>
              <h5><%= booking.accepted%></h5>
            </div>
            <!-- Button -->
            <div class="button-list">
              <button class = "btn btn-danger">Rate this booking</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- MY BOOKED SKILLS -->
    <div class="tab-content hidden" id="my_booked_skills">
      <% @user.skills.each do |skill| %>
        <div class="row">
          <% skill.bookings.each do |booking| %>
            <div class="container-list">
              <!-- Card -->
              <div class="card-list">
                <%= link_to user_path(booking.skill.user) do %>
                  <div class="card" >
                      <% if !booking.skill.photo.blank? %>
                        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                        url('<%= cl_image_path booking.skill.photo %>');">
                          <div class="card-category"><%= booking.skill.category %></div>
                          <div class="card-description">
                              <h2><%= booking.skill.title %> with <%= booking.skill.user.first_name %></h2>
                              <h3><%= booking.starts_at %></h3>
                              <p><%= booking.duration %> minutes</p>
                          </div>
                        </div>
                      <% else %>
                        <% skill_hash = CATEGORIES_PHOTOS.select { |hash| hash[:category] == booking.skill.category } %>
                        <% image_id = skill_hash[0][:photo_filepath] %>
                        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
                        url('<%= image_url(image_id) %>');">
                          <div class="card-category"><%= booking.skill.category %></div>
                          <div class="card-description">
                              <h2><%= booking.skill.title %> with <%= booking.skill.user.first_name %></h2>
                              <p><%= booking.starts_at %></p>
                              <p><%= booking.duration %> minutes </p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
              </div>
              <!-- profile -->
              <div class="organizer-list">
                <%= link_to user_path(booking.skill.user) do %>
                  <h3><%= booking.skill.user.first_name %> <%= booking.skill.user.last_name %></h3>
                  <% if !booking.skill.user.photo.blank? %>
                    <%= cl_image_tag booking.skill.user.photo, width: 200, height: 200, crop: :fill, class: "avatar-large"   %>
                  <% else %>
                    <%= image_tag "default-profile.png", class: "avatar-large"%>
                  <% end %>
                <% end %>
              </div>
              <!-- Status -->
              <div class="status-list">
                <h4><strong> status </strong></h4>
                <h5><%= booking.accepted%></h5>
              </div>
              <!-- Button -->
              <div class="button-list">
                <%= link_to '#', data: { toggle: "modal", target: "#myModal" } do %>
                  <button class = "btn btn-danger">Update Status</button>
                <% end %>
              </div>

            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change the status of this booking</h4>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for(booking) do |f| %>
                      <%= f.error_notification %>
                      <%= f.input :accepted, label: false, collection: ["Accept this booking", "Refuse this booking"]  %>
                      <%= f.button :submit, "Submit", class: "btn btn-danger btn-lg" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!-- END OF MODAL -->




          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




