<div>
  <% if !@skill.photo.blank? %>
    <div class="banner banner-skill" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
    url('<%= cl_image_path @skill.photo %>');">
        <% if current_user == @user %>
          <div class="banner-content">
            <h3><%=  @skill.title %></h3>
          </div>
        <% else %>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset">
                <h3><%=  @skill.title %></h3>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= simple_form_for @booking, url: skill_bookings_path(@skill) do |f| %>
                <h3>Book this skill</h3>
                  <%= f.error_notification %>
                  <%= f.input :starts_at, label: "Date and time", placeholder: "Select date and time", as: :string, input_html: { class: "datetimepicker" } %>
                  <%= f.input :duration, label: "Duration in minutes", placeholder: "60" %>
                  <%= f.button :submit, "Book", class: "btn btn-danger btn-lg" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="banner banner-skill" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
    url('<%= image_url(@image_id) %>');">
      <% if current_user == @user %>
          <div class="banner-content">
            <h3><%=  @skill.title %></h3>
          </div>
        <% else %>
          <div class="container">
                      <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset">
                          <h3><%=  @skill.title %></h3>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <%= simple_form_for @booking, url: skill_bookings_path(@skill) do |f| %>
                          <h3>Book this skill</h3>
                            <%= f.error_notification %>
                            <%= f.input :starts_at, label: "Date and time", placeholder: "Select date and time", as: :string, input_html: { class: "datetimepicker" } %>
                            <%= f.input :duration, label: "Duration in minutes", placeholder: "60" %>
                            <%= f.button :submit, "Book", class: "btn btn-danger btn-lg" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
        <% end %>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card-box">
        <div class="card-item">
          <h4><%= @skill.location %></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card-box">
        <div class="card-item">
          <%= link_to user_path(@user) do %>
            <% if !@user.photo.blank? %>
              <%= cl_image_tag @user.photo, width: 30, height: 30, crop: :fill, class: "avatar" %>
            <% else %>
              <%= image_tag "default-profile.png", class: "avatar" %>
            <% end %>
            <h4> <%= @user.first_name %> <%= @user.last_name %> </h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card-box">
        <div class="card-item">
          <% if current_user == @user %>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to "Update this skill", edit_skill_path(@skill), class: "btn btn-danger btn-lg" %>
              </div>
              <div class="col-xs-12">
                <%= link_to "Delete this skill", skill_path(@skill), method: :delete, class: "btn btn-base btn-lg" %>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-xs-12">
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
                <i class= "fa fa-star"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="top-border">
    <h5><%= @skill.description %></h5>
  </div>
  <div class="bandeau-blanc">
  </div>
  <div id="map" style="width: 100%; height: 300px;"></div>
  <div class="bandeau-blanc">
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
