<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>');">
  <div class="banner-content">
    <h1>DON'T DO IT YOURSELF</h1>
    <p>Enjoy your neighbour's skills</p>
    <form action="/skills" method="get" class="home-form">
        <input name="skill_location" autocomplete="on" id="skill_location" type="text" placeholder="Where ?">
        <%= select_tag "category", options_for_select([ "All categories", "Pets", "Kids", "Garden", "Handiwork", "Beauty / Well-being", "Sports", "IT", "Food", "Mechanics", "Photography", "Music", "Interior design", "Housekeeping", "Fashion", "Paper work / Legal", "Coaching", "Other" ]) %>
        <%= submit_tag "Submit", class: "btn btn-danger btn-lg" %>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="bandeau-blanc">
    </div>
    <h2 >Find out our latest offers!</h2>
    <div class="bandeau-blanc">
    </div>
    <% @last_three_skills = @skills.last(3) %>
    <% @last_three_skills.each do |skill| %>
      <%= link_to skill_path(skill) do %>
        <div class="col-xs-12 col-sm-4">
          <% user = skill.user %>
          <div class="card" >
            <% if !skill.photo.blank? %>
              <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
              url('<%= cl_image_path skill.photo %>');">
                <div class="card-category"><%= skill.category %></div>
                <div class="card-description">
                  <h2><%= skill.title %></h2>
                </div>
                <div>
                  <% if !user.photo.blank? %>
                    <%= cl_image_tag user.photo, width: 200, height: 200, crop: :fill, class: "card-user avatar"   %>
                  <% else %>
                    <%= image_tag "default_user_white.png", class: "card-user avatar"%>
                  <% end %>
                </div>
              </div>
            <% else %>
              <% skill_hash = CATEGORIES_PHOTOS.select { |hash| hash[:category] == skill.category } %>
              <% image_id = skill_hash[0][:photo_filepath] %>
              <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
              url('<%= image_url(image_id) %>');">
                <div class="card-category"><%= skill.category %></div>
                <div class="card-description">
                  <h2><%= skill.title %></h2>
                </div>
                <div>
                  <% if !user.photo.blank? %>
                    <%= cl_image_tag user.photo, width: 200, height: 200, crop: :fill, class: "card-user avatar" %>
                  <% else %>
                    <%= image_tag "default_user_white.png", class: "card-user avatar"%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="bandeau-blanc">
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
<% end %>

